.idea
cmake/
build/
CMakeFiles/
docs/
examples/
games/
include/
include-priv/
library/
tests/
tools/
*.pdf
*.toc
report/main.synctex.gz
*.log
*.lof
*.fls
*.fdb_latexmk
*.aux
*.nav
*.snm
presentation/presentation.synctex.gz
*.vrb
*.out
report/main.pdf
*.pdf_tex
